langcahin/template.json
langcahin/Social_Network_Ads.csv
langcahin/requirements.txt
langcahin/json_schema.json
langcahin/dl-curriculum.pdf
langcahin/cricket.txt
langcahin/chat_history.txt
langcahin/books

notes

langcahin/.env
langsmith/.env
.env

langcahin/my_chroma_db